@model projBCC2.Models.Conta

@{
    ViewData["Title"] = "Detalhes sobre a Conta";
}

<h1>Detalhes sobre a Conta.</h1>

<div>
    <h4>Conta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientes.cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.produtos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.produtos.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-light">Retornar</a>
</div>
