@model projBCC2.Models.Transacao

@{
    ViewData["Title"] = "Detalhes sobre Transação";
}

<h1>Detalhes sobre a Transação.</h1>

<div>
    <h4>Transacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.conta.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.operacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.operacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-light">Retornar</a>
</div>
